<!DOCTYPE html>
<html lang="en">

<head>
    <title>FizzBuzz Result</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto;
        }

        th:nth-child(even),
        td:nth-child(even) {
            background-color: #D6EEEE;
        }
    </style>
    </style>
</head>

<body>

    <div class="bg-contact2" style="background-image: url('images/bg-01.jpg');">
        <div class="container-contact2">
            <div class="wrap-contact2">
                <table>
                    <tr>
                        <th>
                            <h3>INPUT</h3>
                        </th>
                        <th>
                            <h3>RESULT</h3>
                        </th>
                    </tr>
                    <tr>
                        <td name="tableInput1">
                            <%=no1%>
                        </td>
                        <td><%=result1%></td>
                    </tr>
                    <tr>
                        <td name="tableInput2">
                            <%=no2%> </td>
                        <td><%=result2%></td>
                    </tr>
                    <tr>
                        <td name="tableInput2">
                            <%=no3%> </td>
                        <td><%=result3%></td>
                    </tr>
                    <tr>
                        <td name="tableInput2">
                            <%=no4%> </td>
                        <td><%=result4%></td>
                    </tr>
                    <tr>
                        <td name="tableInput2">
                            <%=no5%> </td>
                        <td><%=result5%></td>
                    </tr>
                    <tr>
                        <td name="tableInput2">
                            <%=no6%> </td>
                        <td><%=result6%></td>
                    </tr>
                    <tr>
                        <td name="tableInput2">
                            <%=no7%> </td>
                        <td><%=result7%></td>
                    </tr>
                </table>
                   <div class="container-contact2-form-btn">
                        <div class="wrap-contact2-form-btn">
                            <div class="contact2-form-bgbtn"></div>
                            <a class="contact2-form-btn" href="/">
                                 TRY AGAIN ?
                            </a>
                        </div>
                    </div>
            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>

</body>

</html>